<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Suggest a Song</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">

       <!-- Javascript -->
    <SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js"></SCRIPT>
    <SCRIPT src="../static/scripts/suggest.js"></SCRIPT>

</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="padding-bottom: 30px;">
        <div class="container"><a class="navbar-brand logo" id="home-page" style="font-family: 'Open Sans', sans-serif;">Lyrics For Learning</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" style="font-size: 20px; font-family: 'Open Sans', sans-serif;">Suggest a Song</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="https://github.com/dwkwan/Lyrics_For_Learning" style="font-size: 20px; font-family: 'Open Sans', sans-serif;">Learn More</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page hire-me-page">
        <section class="portfolio-block hire-me">
            <div class="container">
                <div class="heading">
                    <h2>Suggest a song!</h2>
                    <p class="text-center" style="font-family: 'Open Sans', sans-serif; width: 1000px;margin-top: 40px;opacity: 1;max-width: 1500px;font-size: 20px;">At Lyrics For Learning, we love providing vocabulary-rich and "clean" songs for others to learn from! Have one in mind that you think we should add to the site?&nbsp;Suggest it by submitting the form below and we will consider it!</p>
                </div>
		<div id="suggestion-section">
                <form id="suggestion-form">
                    <h1></h1>
                    <div class="form-group"><label for="artist" style="font-family: 'Open Sans', sans-serif;">Artist</label><input class="form-control" type="text" id="artist-text-area" required></div>
                    <div class="form-group"><label for="song" style="font-family: 'Open Sans', sans-serif;">Song Title</label><input class="form-control" type="text" id="song-text-area" required></div>
                    <div class="form-group"><label for="words" style="font-family: 'Open Sans', sans-serif;">List words that you would like others to be able to explore from the song!</label><textarea class="form-control" id="words-text-area" required></textarea></div>
                    <div class="form-group"><label for="email" style="font-family: 'Open Sans', sans-serif;">Your Email (So we can notify you if we add your song)&nbsp;</label><input class="form-control" type="text"id="email-text-area" required></div>
                    <div class="form-group"><label for="name" style="font-family: 'Open Sans', sans-serif;">Your Name (So we can give you credit if we add your song)</label><input class="form-control" type="text" id="name-text-area" required></div><button class="btn btn-primary text-left" type="submit">Submit</button></form>
            </div>
		</div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="#" style="font-family: 'Open Sans', sans-serif;">This application was made by David Kwan!</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="../static/assets/js/script.min.js"></script>
</body>

</html>
